language: node_js
node_js:
    - stable
deploy:
  provider: s3
  access_key_id: AKIAIF6ZNLEEEZIM7JTA
  secret_access_key:
    secure: HbIwd3O7drEBFFthBJlGH9Hjz14HGZuoAytomX0bljKeyDWAj1pIiJCZUVBgMOyfEGtdUNPZ3aISRcT1uDcPAkuPLr1xPmWYauJvXiQYa6DHPUw4ONGKidx2rxg/WKMfartECgQiTbnFP0u2XmRQA1OHJ7T5kfdbaW7W1fTROydUIO5gzP80i1VOmFRbW/L1npWK87k+WbUou/ramSKU4QGBrd9D6pgdsbrvFjgdVTKDEcM5JvPRkZ/+zIg2tUDQfELG4GiQdwkUUHEjbdM9VnocTVb5pJNF3tMROx/x6wrs/vC0Yc3PuKVNyDurgBvm5M3fWtAqIrLwU+9abopOdbz2x4N4/CYfm1xrckekGihPdVg5R5ZeBoX0TdHDJvPGwWe4pillzgDVzsdzuUyqVXc/PHFEr3955bupBnE35KFF4zkv/nHh545StWd/A2+Q2dmWyBbGRyVTFiQV0ZEkY+4pD7EcqEpx2rF4JipYwBq41by9MrYx1JN0YrsEOvbDn5oVM3/5KyoW1YeSmm35oaijUaXLx91rzEiKmG5eUKvfBFvgXYSup2pEZvBxD8R1Ki1o4rYKOFBZHfKVcW8UqhGZpt1Mi9Gez0MohZQ2QkRkTecEZ3ExeSvOB7+Bqqo6ouJN5ACw0Zp8TEqOPO3QEMdwtWSB7od9hpzDPnGCZ0U=
  bucket: trying-lambda-s3
  acl: bucket_owner_full_control
  on:
    repo: co3k/trying-s3-lambda
